<web-app>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servicesServlets.ServletConnexion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>servicesServlets.ServletDeconnexion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Emprunter</servlet-name>
		<servlet-class>servicesServlets.ServletEmprunter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Emprunter</servlet-name>
		<url-pattern>/emprunter </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Retourner</servlet-name>
		<servlet-class>servicesServlets.ServletRetourner</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Retourner</servlet-name>
		<url-pattern>/retourner </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Ajouter</servlet-name>
		<servlet-class>servicesServlets.ServletAjouter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ajouter</servlet-name>
		<url-pattern>/ajouter </url-pattern>
	</servlet-mapping>
	
</web-app>